<!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top"  th:fragment="public_nav">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
     	<p class="text-white bg-dark">PORTALI I TRANSPARENCES UNIVERSITARE</p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Kreu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="njoftime.html">Njoftime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="udhezime.html">Udhezime</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="faqs.html">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="kontakt.html">Kontakt</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/login">Identifikimi</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>