<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="/css/sidebar.css"/>
  

</head>

<body>
	<header>	
		<div th:replace="/fragments/public_navigation :: public_nav"></div>	
	</header>
	
	
	<div class="container-fluid">
		<div class="row">

				<div class="col-md my-3">
					<p> Faqja e konsultimit te progresiveve </p>
				</div>						
	 	</div>
	</div>
	
	<main class="page-content">
	
		<form class="form-horizontal" role="form" method="POST" th:action="@{/public_progres}" th:object="${progresiveForm}">
	
		<div class ="container-fluid">
		
			<div class="form-group row">
			
			  <label for="muaji" class="col-2 col-form-label"><u>Perzgjidh Muajin</u></label>
			  <div class="col-3">
			    <input class="form-control"  th:field = "${progresiveForm.month}" type="month"   id="muaji" onchange="javascript:location.href = '/public_progres?month=' + this.value;" required autofocus/>			    
			  </div>
			  
		  
			</div>
			
		
			<!-- Tabela e te ardhurave -->
			<div class= "form-group row">
			 			<table class = "table table-bordered table-sm">
					    	<thead class="thead-light">
					    		<th colspan="5" class="text-center">Te ardhurat  </th>
						        <tr>
						            <th> - </th>
						            <th> - </th>
						            <th style="width: 50%"> Emertimi </th>						            
						            <th> Plan </th>
						            <th> Fakt </th>
						        </tr>
					        </thead>
						    
						    <tbody>
				        		<tr th:each="progresiveList,rowStat : ${progresiveForm.virtualProgresiveListInc}">
				           			    <td><input hidden type="number" th:field="*{virtualProgresiveListInc[__${rowStat.index}__].idProgresive}"/>-</td>
				           			    <td><input hidden type="number" th:field="*{virtualProgresiveListInc[__${rowStat.index}__].idTypeProgresive}"/>-</td>			           			    
				           			    <td><span  th:text="${progresiveList.name}" ></span></td>
							            <td><input type="number" th:field="*{virtualProgresiveListInc[__${rowStat.index}__].mountPlan}" /></td>
							            <td><input type="number" th:field="*{virtualProgresiveListInc[__${rowStat.index}__].mountFakt}" /></td>
						          </tr>
						    </tbody>
						</table>	
		 	</div>
		 	
		 	<!-- Tabela e Shpenzimeve te veta -->
		 	<div class= "form-group row">
			 			<table class = "table table-bordered table-sm">
					    	<thead class="thead-light">
					    		<th colspan="5" class="text-center">Shpenzimet nga te Ardhurat e Veta</th>
						        <tr>
						            <th> - </th>
						            <th> - </th>
						            <th style="width: 50%"> Emertimi </th>						            
						            <th> Plan </th>
						            <th> Fakt </th>
						        </tr>
					        </thead>
						    
						    <tbody>
				        		<tr th:each="progresiveList,rowStat : ${progresiveForm.virtualProgresiveListExp}">
				           			    <td><input hidden type="number" th:field="*{virtualProgresiveListExp[__${rowStat.index}__].idProgresive}"/>-</td>
				           			    <td><input hidden type="number" th:field="*{virtualProgresiveListExp[__${rowStat.index}__].idTypeProgresive}"/>-</td>			           			    
				           			    <td><span  th:text="${progresiveList.name}" ></span></td>
							            <td><input type="number" th:field="*{virtualProgresiveListExp[__${rowStat.index}__].mountPlan}" /></td>
							            <td><input type="number" th:field="*{virtualProgresiveListExp[__${rowStat.index}__].mountFakt}" /></td>
						          </tr>
						    </tbody>
						</table>	
		 	</div>
		 	
		 	<!-- Tabela e shpenzimeve nga buxheti -->
		 	
		 	<div class= "form-group row">
			 			<table class = "table table-bordered table-sm">
					    	<thead class="thead-light">
					    		<th colspan="5" class="text-center">Shpenzimet nga granti i buxhetit te Shtetit </th>
						        <tr>
						            <th> - </th>
						            <th> - </th>
						            <th style="width: 50%"> Emertimi </th>						            
						            <th> Plan </th>
						            <th> Fakt </th>
						        </tr>
					        </thead>
						    
						    <tbody>
				        		<tr th:each="progresiveList,rowStat : ${progresiveForm.virtualProgresiveListExpS}">
				           			    <td><input hidden type="number" th:field="*{virtualProgresiveListExpS[__${rowStat.index}__].idProgresive}"/>-</td>
				           			    <td><input hidden type="number" th:field="*{virtualProgresiveListExpS[__${rowStat.index}__].idTypeProgresive}"/>-</td>			           			    
				           			    <td><span  th:text="${progresiveList.name}" ></span></td>
							            <td><input type="number" th:field="*{virtualProgresiveListExpS[__${rowStat.index}__].mountPlan}" /></td>
							            <td><input type="number" th:field="*{virtualProgresiveListExpS[__${rowStat.index}__].mountFakt}" /></td>
						          </tr>
						    </tbody>
						</table>	
		 	</div>
		 	
		 	
		 	
		 			
		 </div>
		 
		 </form>
		 
	 </main>
	
	
	
	
	<footer>	
		 <div th:replace="/fragments/public_footer :: publicfooter_template"></div>	
	</footer>
	

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 
</body>

</html>
